@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply min-h-screen text-gray-900;
  }
  #__next {
    @apply flex flex-col min-h-screen;
  }
  .prose {
    & a {
      @apply inline-block relative no-underline;
      &::after {
        content: "";
        bottom: 2px;
        left: 4px;
        @apply absolute bg-rose-500 bg-opacity-40 w-full h-2;
      }
    }
  }
}
