.menu-button {
  @apply block sm:hidden relative z-20 cursor-pointer w-5 h-[2px] rounded-sm bg-gray-500;
  animation: closeMid 0.8s backwards reverse;

  &::before,
  &:after {
    content: "";
    @apply absolute top-0 left-0 block w-full h-[2px] bg-inherit rounded-sm;
  }
  &::before {
    animation: closeTop 0.8s backwards reverse;
    transform: translateY(-6px);
  }
  &::after {
    animation: closeBottom 0.8s backwards reverse;
    transform: translateY(6px);
  }
  &.is-open {
    animation: openMid 0.8s forwards;
    &::before {
      animation: openTop 0.8s forwards;
    }
    &::after {
      animation: openBottom 0.8s forwards;
    }
  }
}

@keyframes openTop {
  0% {
    transform: translateY(-6px) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(90deg);
  }
}
@keyframes closeTop {
  0% {
    transform: translateY(-6px) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(90deg);
  }
}

@keyframes openMid {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@keyframes closeMid {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@keyframes openBottom {
  0% {
    transform: translateY(6px) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(90deg);
  }
}

@keyframes closeBottom {
  0% {
    transform: translateY(6px) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(90deg);
  }
}
